@page
@model DriverTeacher.Pages.Teacher.MapModel

@{
    ViewData["Title"] = "Главная";
}

@section JavaScript {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
      
    <script src="https://rawgit.com/bbecquet/Leaflet.PolylineDecorator/master/dist/leaflet.polylineDecorator.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
}

<div id="map" class="fixed-bottom" style="width: 100%; height: calc(100% - 55px); "></div>
<script>
    // Drawing map
    var map = L.map('map').setView([59.562951, 30.130286], 16);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    
    // Exam roads
    const roadLines = [
            {type: "oneway",
             coords: [
                [30.1285235,59.5716693],
                [30.1269893,59.5704087],
                [30.1248542,59.5684633]]
            },
            {type: "oneway",
             coords: [
                [30.1287166,59.567697],
                [30.129414,59.5688763],
                [30.1305834,59.5706695],
                [30.1309375,59.5711042]]
             },
             {type: "oneway",
              coords: [
                [30.1367632,59.5716748],
                [30.1363019,59.5710662],
                [30.1355509,59.5701315],
                [30.134714,59.5690556],
                [30.1341132,59.5681916],
                [30.1333515,59.5670721],
                [30.1331262,59.5667623],
                [30.1328258,59.5664525],
                [30.1324181,59.5658819],
                [30.1318173,59.5651047],
                [30.1313988,59.5645667],
                [30.130798,59.5637841],
                [30.1301006,59.5628492],
                [30.1294998,59.5619796],
                [30.1288561,59.5611262],
                [30.1286737,59.560849]]
             },
             {type: "oneway",
              coords: [
                [30.1326311,59.5623738],
                [30.1338971,59.5641021],
                [30.1350772,59.5657761],
                [30.1355279,59.5662706],
                [30.137738,59.5692323],
                [30.1385319,59.5703463],
                [30.1388645,59.570743]]
             },
             {type: "oneway",
              coords: [
                [30.131118,59.5604458],
                [30.1322982,59.5619486],
                [30.1326311,59.5623738]]
              },
              {type: "oneway",
               coords: [
                [30.1318173,59.5651047],
                [30.1299638,59.5655084],
                [30.1298028,59.5654867],
                [30.1286549,59.5651171],
                [30.1286334,59.5649813],
                [30.128687,59.5648237],
                [30.1288051,59.56459],
                [30.1290196,59.5644269],
                [30.1310045,59.5640628]]
              },
              {type: "oneway",
               coords: [
                [30.1373989,59.5633671],
                [30.1313988,59.5645667]]
              },
              {type: "twoway",
               coords: [
                [30.1355509,59.5701315],
                [30.1344204,59.5703361],
                [30.1323068,59.5707817],
                [30.1309375,59.5711042],
                [30.1300645,59.5713523],
                [30.1285235,59.5716693]]
              },
              {type: "twoway",
               coords: [
                [30.1418248,59.5693398],
                [30.1400224,59.5701386],
                [30.1392713,59.5705625],
                [30.1388645,59.570743],
                [30.1368466,59.5716873],
                [30.133349,59.5734423],
                [30.1314929,59.5742899]]
              },
              {type: "twoway",
               coords: [
                [30.1314929,59.5742899],
                [30.1285235,59.5716693]]
              },
              {type: "twoway",
              coords: [
                [30.133349,59.5734423],
                [30.1309136,59.5710714]]
              },
              {type: "twoway",
               coords: [
                [30.1248542,59.5684633],
                [30.1287166,59.567697],
                [30.1331262,59.5667623],
                [30.1390718,59.5655239]]
               },
               {type: "twoway",
                coords: [
                [30.1418248,59.5693398],
                [30.1390718,59.5655239],
                [30.1373989,59.5633671],
                [30.1361264,59.5616568],
                [30.1348604,59.5597327],
                [30.1344741,59.5593087],
                [30.133884,59.5588412],
                [30.1339591,59.5584988],
                [30.1339162,59.5580095],
                [30.1339591,59.5575964],
                [30.1339055,59.556906],
                [30.1336695,59.5563407],
                [30.1333691,59.556058],
                [30.1328648,59.5556992],
                [30.1326931,59.5549272],
                [30.1324464,59.5543564],
                [30.1323284,59.5541335]]
              },  
              {type: "twoway",
               coords: [   
                [30.1323284,59.5541335],
                [30.1322604,59.5541561],
                [30.1300074,59.5543844],
                [30.1288057,59.555787],
                [30.1274646,59.5570265],
                [30.125909,59.5585268],
                [30.1241709,59.5600923],
                [30.123216,59.5610218],
                [30.1219929,59.5620925],
                [30.1203943,59.56356]]
              },
              {type: "oneway",
               coords: [
                [30.1211139,59.5645316],
                [30.1203943,59.56356]]
              },  
              {type: "twoway",
               coords: [
                [30.1211139,59.5645316],
                [30.1236459,59.564075],
                [30.1244613,59.56395],
                [30.1262208,59.5636022],
                [30.1277014,59.5633304],
                [30.1301006,59.5628492],
                [30.1326311,59.5623738],
                [30.1361264,59.5616568]]
              },  
              {type: "twoway",
               coords: [    
                [30.1236459,59.564075],
                [30.1229448,59.5631659],
                [30.1221793,59.5622893],
                [30.1218789,59.5621534]]
              },  
              {type: "twoway",
               coords: [   
                [30.1245237,59.5597557],
                [30.1268733,59.5603754]]
              },
              {type: "twoway",
               coords: [ 
                [30.1268733,59.5603754],
                [30.1286737,59.560849],
                [30.131118,59.5604458],
                [30.1348604,59.5597327]]
              },
              {type: "twoway",
               coords: [
                [30.131118,59.5604458],
                [30.1297701,59.5586577]]
              },
              {type: "twoway",
               coords: [
                [30.1328648,59.5556992],
                [30.1327957,59.5557542],
                [30.1305426,59.5578852],
                [30.1288904,59.5593746],
                [30.1276673,59.5605922],
                [30.125661,59.5624783],
                [30.1255322,59.5626413],
                [30.1261438,59.5636142],
                [30.1275707,59.5660055],
                [30.128075,59.5666577],
                [30.1287166,59.567697]]
              },
              {type: "twoway",
               coords: [
                [30.1274609,59.55699],
                [30.1305426,59.5578852],
                [30.131849,59.5582947],
                [30.1325893,59.5584795],
                [30.133884,59.5588412]]
              },
              {type: "twoway",
               coords: [
                [30.1373989,59.5633671],
                [30.1376992,59.5629537],
                [30.1382357,59.5623993],
                [30.1384489,59.5625263],
                [30.1385978,59.5626751],
                [30.1388096,59.5630162],
                [30.1395124,59.5640461]] 
              },
              {type: "twoway",
               coords: [
                [30.1286549, 59.5651171],
                [30.1279229, 59.5652949],
                [30.127191, 59.5654292]]
              }
     ]
    
    // Drawing roads
    for (const roadLine of roadLines) {     
      // Transforming coordinates from Google KML format to Leaflet
        for (const pair of roadLine.coords)
          [pair[0], pair[1]] = [pair[1], pair[0]];
        roadLine.coords.reverse();
        
        if (roadLine.type === "oneway") {
            const line = L.polyline(roadLine.coords, {});
            L.polylineDecorator(line, {
                patterns: [{
                  offset: 0,
                  repeat: 50,
                  symbol: L.Symbol.marker({
                    rotate: true,
                    markerOptions: {
                      icon: L.icon({
                        iconUrl: '/Signs/oneway_arrow.png',
                        iconAnchor: [8, 8]
                      })
                    }
                  })
                }]
            }).addTo(map);
        } else {
            L.polyline(roadLine.coords, {
                color: "#b401ff",
                opacity: 0.3,
                weight: 10
            }).addTo(map);   
        }
    }
     
    // Signs
    const signs = [
            [59.55447, 30.13017, "secondary.png"],
            [59.55565, 30.12889, "rest40.png"],
            [59.55698, 30.12781, "main.png"],
            [59.5583, 30.12609, "rest40.png"],
            [59.5599, 30.12506, "oneway.png"],
            [59.55968, 30.12489, "main.png"],
            [59.56215, 30.12225, "main.png"],
            [59.56274, 30.12136, "rest40.png"],
            [59.56357, 30.12051, "main.png"],
            [59.56436, 30.12099, "oneway.png"],
            [59.56352, 30.12065, "forward.png"],
            [59.56455, 30.12155, "main_leftdown.png"],
            [59.56456, 30.12135, "main.png"],
            [59.56397, 30.12372, "secondary.png"],
            [59.56285, 30.12567, "rest30.png"],
            [59.56138, 30.12681, "rest40.png"],
            [59.55973, 30.12856, "rest40.png"],
            [59.55834, 30.13007, "rest40.png"],
            [59.55707, 30.1314, "rest40.png"],
            [59.55572, 30.1326, "main.png"],
            [59.55588, 30.13246, "main_7hours.png"],
            [59.55897, 30.13388, "main.png"],
            [59.55944, 30.13463, "rest40.png"],
            [59.55983, 30.13479, "main.png"],
            [59.56175, 30.13615, "rest40.png"],
            [59.56314, 30.13739, "main.png"],
            [59.56305, 30.13734, "main_rightdown.png"],
            [59.56543, 30.13909, "main.png"],
            [59.56922, 30.14184, "main.png"],
            [59.57053, 30.13953, "main.png"],
            [59.57344, 30.13355, "main.png"],
            [59.5743, 30.13163, "main.png"],
            [59.57392, 30.13225, "rest40.png"],
            [59.57177, 30.12847, "main.png"],
            [59.57347, 30.13059, "rest40.png"],
            [59.56812, 30.12606, "main.png"],
            [59.56848, 30.12513, "main.png"],
            [59.56409, 30.13423, "main.png"],
            [59.56633, 30.13579, "main.png"],
            [59.56462, 30.13169, "secondary.png"],
            [59.56399, 30.13050, "secondary.png"],
            [59.55431, 30.13223, "main.png"]
            ];
    
      // Drawing signs     
      for (const sign of signs) {
         const signMarker = L.icon({
                              iconUrl: '/Signs/' + sign[2],
                              shadowUrl: "",
                              iconSize: [30, 30],
                              shadowSize: [0, 0], // no shadow
                              iconAnchor: [0, -5], // some Google-to-OSM coordinate correction
                              shadowAnchor: [0, 0],
                              popupAnchor: [30, 15]  
                          });

         L.marker([sign[0], sign[1]], {icon: signMarker}).addTo(map);
      }
      
      $.ajax({
          method: "GET",
          url: "@Url.Page("/Teacher/Map")?handler=Comments",
          data: "",
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          cache: false,
          success: function(commentsJson) 
          {
              const comments = JSON.parse(commentsJson);   
              for (const comment of comments) {
                  L.popup({
                        closeOnClick: false,
                        closeButton: true,
                        autoClose: false
                  })
                  .setLatLng([comment.XCoord, comment.YCoord])
                  .setContent(comment.Text)
                  .openOn(map);    
              }
          },
          failure: function(){ }
      });
 
</script>